*

!.github/
!.github/**

!docs/
!docs/**

!examples/
!examples/**

!scripts/
!scripts/**

!src/
!src/**

!tests/
!tests/**

!.gitignore
!deno.json
!deno.jsonc
!deno.lock
!LICENSE
!CHANGELOG.md
!CONTRIBUTING.md
!README.md
!mod.ts

!*.md
!.roomodes